<% if question.title %>
  	<tr>
  		<td width="80%" ><%=  question.title.truncate(70) %></td>
  		<td width="10%"><%= link_to image_tag("edit.png",:width => "20", :height => "20", :border => 0, :onmouseover => "Edit"),exam_question_path(question.exam,question) %></td>
  		<td width="10%" ><%= link_to image_tag("remove.png",:width => "20", :height => "20", :border => 0, :onmouseover => "Remove"),exam_question_path(question.exam,question),  method: :delete, data: { confirm: 'Are you sure?' }%></td>
	</tr>
<% end %>
