<p id="notice"><%= notice %></p>

<h1>Listing Exams</h1>


    <% @exams.each do |exam| %>
      <h2><%= link_to exam.title, exam%></h2>
      <p><%= exam.description %></p>
    <% end %>


<br>

<%= link_to 'New Exam', new_exam_path %>
